<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="merlin_scommerce_hyva" frontName="merlin_scommerce_hyva">
            <module name="Merlin_ScommerceHyvaCompatibility"/>
        </route>
    </router>
</config>
